/*
 * ======================================
 *
 * Footer
 *
 * ======================================
 */
footer {
	background-color: #00FF00;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	position: absolute;
	width: 100%;
}
